.vscode/**
.vscode-test/**
out/**
images/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix
.github
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
esbuild.js
