.vscode/**
.vscode-test/**
.github/**

src/**
out/**
images/**

*.vsix

.gitignore
.yarnrc
vsc-extension-quickstart.md

tsconfig.json
**/tsconfig.json
.eslintrc.json
**/.eslintrc.json

webpack.config.js
esbuild.js

**/*.map
**/*.ts

node_modules/**
node_modules

webpack.cli.config.js
.prettierignore
.markdownlint.json
.editorconfig-checker.json
dictionary.txt

cli/**
