.oauth-section-header {
    height     : 25px;
    display    : inline-block;
    padding    : 20px 15px 10px 0;
    font-size  : 16px;
    font-weight: 300;
}

.oauth-label {
    display: block;
    float  : left;
    width  : 150px;
    padding: 5px 0 0;
}

.oauth-text-panel {
    display: flex;
    padding  : 10px 10px 10px 0;
    max-width: 100%;
}

.oauth-text-panel .outer-container {
    width: calc(100% - 155px);
}

.oauth-text-panel .DraftEditor-editorContainer {
    width        : 100%;
    height       : 30px;
    outline      : none;
    padding      : 5px;
    border-radius: 3px;
    background   : var(--background-color);
    border       : 0.25px solid var(--border-color);
    color        : var(--text-color);
}

.oauth-text-panel .public-DraftEditorPlaceholder-inner {
    padding-top: 5px;
}

.oauth-select {
    width: 170px !important;
}

.oauth-btn-panel {
    margin-top: 15px;
    text-align: center;
}

.oauth-token-btn {
    width: 120px !important;
}

.oauth-info-label {
    cursor: pointer;
}