.test-result-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

/* .test-result-table,
td,
th,
tr {
  border: var(--border-size) solid var(--border-color);
} */

.test-result-table thead {
  background-color: var(--list-hover-background-color);
}

.test-result-table,
.test-result-table thead,
.test-result-table tbody,
.test-result-table td,
.test-result-table th,
.test-result-table tr {
  border: var(--border-size) solid var(--border-color);
}

tbody>tr:hover {
  background-color: var(--input-hover);
}

.test-result-table-input {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: var(--font-size);
  outline: none;
  padding: 10px;
  width: 100%;
  text-overflow: ellipsis;
}

.test-result-test-case-col {
  width: 40%;
}

.test-result-actual-val-col {
  width: 40%;
}

.center-text {
  text-align: center;
}

.test-result-label {
  display: block;
  width: 50px;
  border-radius: 3px;
  height: 23px;
  margin: 5px;
  padding: 4px 0 0;
  text-align: center;
  font-weight: bold;
}

.pass {
  background-color: rgb(2, 151, 2);
  color: var(--button-text-color);
}

.fail {
  background-color: rgb(240, 22, 22);
  color: var(--button-text-color);
}