.request-panel {
  margin : 5px;
  padding: 10px;
}

.request-container {
  display       : flex;
  flex-direction: row;
  width         : 100%;
}

.request-drop-down-panel {
  width: 100px;
}

.request-method-drop-down {
  border-radius   : 2px;
  cursor          : pointer;
  font-weight     : bolder;
  outline         : none;
  padding         : 9px;
  width           : 90px;
  color           : var(--text-color);
  background-color: var(--background-color);
  border          : var(--border-size) solid var(--border-color);
}

.request-method-drop-down option {
  color           : var(--text-color);
  background-color: var(--background-color);
}

.request-method-drop-down:focus,
.request-method-drop-down:hover {
  outline: none;
}

.request-url-panel {
  width: calc(100% - 200px);
  flex : auto;
}

.request-url-text,
.DraftEditor-editorContainer {
  display         : inline-block;
  outline         : none;
  padding         : 10px;
  width           : 100%;
  color           : var(--text-color);
  background-color: var(--background-color);
  box-sizing      : border-box;
}

.request-url-panel .DraftEditor-editorContainer {
  border       : var(--border-size) solid var(--border-color);
  border-radius: 2px;
  padding      : 9px !important;
}

mark {
  color           : var(--button-background-color);
  background-color: var(--background-color);
}

.request-url-text:focus,
.request-url-text:hover {
  outline: none;
}

.request-send-panel {
  margin-left: 10px;
  width      : 80px;
}

.request-send-button {
  background-color: var(--button-background-color);
  border          : 0;
  border-radius   : 3px;
  color           : var(--button-text-color);
  cursor          : pointer;
  display         : inline-block;
  font-weight     : bold;
  outline         : none;
  padding         : 11px;
  width           : 75px;
}

.request-send-button:disabled,
.request-send-button[disabled],
.request-send-button:disabled:hover,
.request-send-button[disabled]:hover {
  background-color: #ccc;
  color           : #666;
  cursor          : not-allowed;
}

.request-send-button:hover {
  background-color: var(--button-hover-color);
}

#custom-url-editor {
  width           : 400px;
  height          : 100px;
  padding         : 10px;
  background-color: #444;
  color           : white;
  font-size       : 14px;
  font-family     : monospace;
}

.statement {
  color: orange !important;
}