html,
body,
#root {
  height: 100%;
}

.app {
  height: calc(100% - 1.5px);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
  font-family: var(--font-family);
  padding: 0;
}

hr {
  border: none;
  height: 1px;
  background: #5e5e5e;
}

.error-text-box {
  width: 90%;
  height: 350px;
  resize: none;
  background-color: var(--background-color);
  color: var(--text-color);
  border-color: var(--border-color);
  outline: none;
}

.error-header-text-box,
.error-something-text-box {
  width: 90%;
  height: 50px;
  resize: none;
  background-color: transparent;
  color: red;
  border-color: transparent;
  outline: none;
}

.error-something-text-box {
  color: white !important;
}

.error-text-box:focus,
.error-header-text-box:focus,
.error-something-text-box:focus {
  outline: none;
}

.error-panel {
  padding: 20px;
  text-align: center;
}

.error-text-panel {
  width: 100%;
}

.issue-raise-button-panel {
  width: 90%;
  text-align: center;
  padding-top: 10px;
}

.issue-raise-button {
  appearance: button;
  width: fit-content !important;
  text-decoration: none;
}

.issue-raise-button:hover {
  background-color: var(--button-hover-color);
  color: var(--text-color);
  text-decoration: none;
}

.issue-raise-button:focus {
  outline: none;
}