.bulk-export-title {
	font-size: 17px;
	margin-bottom: 15px;
}

.bulk-export-list-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: scroll;
	height: 250px;
	padding-bottom: 15px;
	width: 100%;
	border: 1px solid var(--border-color);
	border-radius: 3px;
}

.bulk-list {
	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 5px;
}

/* container */
.responsive-three-column-grid {
	display: block;
}

/* columns */
.responsive-three-column-grid > * {
	padding: 1rem;
}

/* tablet breakpoint */
@media (min-width: 768px) {
	.responsive-three-column-grid {
		display: grid;
		grid-auto-rows: 1fr;
		grid-template-columns: 0.3fr 1fr 1fr;
	}
}

.bulk-footer-grid {
	align-items: center;
}

.bulk-path-select-panel {
	display: flex;
}

.bulk-path-btn {
	width: 75px;
	height: 30px;
	flex-shrink: 0;
}

.bulk-filename-text {
	color: var(--text-color);
	font-size: var(--font-size);
	flex: 1;
	white-space: normal;
	word-break: break-word;
	overflow-wrap: anywhere;
}

.bulk-message-panel {
	margin: 0 auto;
	padding-top: 15px;
	text-align: center;
}

.bulk-text-title {
	text-align: left;
}

.bulk-key-panel {
	display: grid;
}

.bulk-key-text {
	height: 25px;
	width: 98%;
}

.bulk-key-note {
	text-align: left;
	margin-top: 10px;
}

.bulk-btn-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.bulk-success-message {
	text-align: center;
}

.first-row {
	height: max-content !important;
	padding-bottom: 15px;
}

.export-type-select {
	height: 32px;
	padding-left: 10px;
}

.file-upload-container {
	display: flex;
	gap: 10px;
}
