.no-history-text {
  padding: 40px;
  font-size: small;
  text-align: center;
  color: #808080;
}

.loading-history-text {
  position: absolute;
  left: calc(50% - 45px);
  bottom: 50%;
  padding: 10px;
  font-size: small;
  text-align: center;
  color: var(--text-color);
  margin-left: 15px;
}