.no-history-text {
	padding: 40px;
	font-size: small;
	text-align: center;
	color: #808080;
}

.loading-history-text {
	position: absolute;
	left: calc(50% - 45px);
	bottom: 50%;
	padding: 10px;
	font-size: small;
	text-align: center;
	color: var(--text-color);
	margin-left: 15px;
}

details.history-bucket {
	padding-left: 15px;
}

details.history-bucket>summary.history-bucket-summary {
	list-style: none;
	padding-left: 27px;
	background-color: transparent !important;
	font-size: 14px;
	letter-spacing: 0.5px;
	position: relative;
}

details.history-bucket>summary.history-bucket-summary::before {
	content: "📁";
	position: absolute;
	left: 4px;
	top: 50%;
	transform: translateY(-50%);
}

details.history-bucket[open]>summary.history-bucket-summary::before {
	content: "📂";
}

details.history-bucket>summary.history-bucket-summary:hover {
	background-color: var(--list-hover-background-color) !important;
}

details.history-bucket>.activity-items {
	padding-left: 12px;
	box-sizing: border-box;
}